In [ ]:
#import libraries  
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('cleanDf.csv')

In [17]:
df.head()

,Unnamed: 0,user,Messages,Lenguage,SwipesRight,SwipesLeft,Matches,Num Of Messages,Age
0,1,1534e9,"Hello again, so now that we matched again, wha...",['en'],45068.0,45068.0,888.0,2086.0,25.0
1,1,1534e9,"Most of the girls on this app scare me, but fo...",['en'],45068.0,45068.0,888.0,2086.0,25.0
2,1,1534e9,"Dear diary, cute girl vanished... should I sen...",['en'],45068.0,45068.0,888.0,2086.0,25.0
3,1,1534e9,"Most of the girls on this app scare me, but fo...",['en'],45068.0,45068.0,888.0,2086.0,25.0
4,1,1534e9,"Well not many people have photos of dogs, and ...",['en'],45068.0,45068.0,888.0,2086.0,25.0

In [75]:
lenguage = df['Language']

In [80]:
#  OneHotEncoder
oheDf = pd.get_dummies(data=df, columns=['Language'])

In [81]:
oheDf.head()

,Unnamed: 0,user,Messages,Sentiment,SentScore,SwipesRight,SwipesLeft,Matches,Num Of Messages,Age,...,Lenguage_['nl'],Lenguage_['no'],Lenguage_['pl'],Lenguage_['pt'],Lenguage_['ro'],Lenguage_['ru'],Lenguage_['so'],Lenguage_['sv'],Lenguage_['sw'],Lenguage_['zh-cn']
0,1,1534e9,"Hello again, so now that we matched again, wha...",POSITIVE,0.989172,45068.0,45068.0,888.0,2086.0,25.0,...,0,0,0,0,0,0,0,0,0,0
1,1,1534e9,"Most of the girls on this app scare me, but fo...",POSITIVE,0.997748,45068.0,45068.0,888.0,2086.0,25.0,...,0,0,0,0,0,0,0,0,0,0
2,1,1534e9,"Dear diary, cute girl vanished... should I sen...",NEGATIVE,0.999569,45068.0,45068.0,888.0,2086.0,25.0,...,0,0,0,0,0,0,0,0,0,0
3,1,1534e9,"Most of the girls on this app scare me, but fo...",NEGATIVE,0.625871,45068.0,45068.0,888.0,2086.0,25.0,...,0,0,0,0,0,0,0,0,0,0
4,1,1534e9,"Well not many people have photos of dogs, and ...",NEGATIVE,0.996307,45068.0,45068.0,888.0,2086.0,25.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
oheDf["Language_['en']"]